<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div th:replace ="FrontEnd::header"></div>
	<div th:replace ="FrontEnd::navbar"></div>
	<div>
		 <table class="table table-bordered">
            <thead>
                <tr>
                    <th>MSSV</th>
                    <th>Họ Tên</th>
                    <th>Điểm Trung Bình</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sinhvien : ${list}">
                    <td th:text="${sinhvien.mssv}"></td>
                    <td th:text="${sinhvien.hoten}"></td>
                    <td th:text="${sinhvien.dtb}"></td>
                </tr>
            </tbody>
        </table>
	</div>
	<div th:replace ="FrontEnd::footer"></div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>